@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');


.viewArticle{
    width:100vw;
    height: 270px;
    display: flex;
    flex-direction: column;

    /* box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, */
}

.figCard{
    border: 1px solid rgba(41, 38, 38, 0.195);
    margin:auto;
    height:90%;
    width:60%;
    display:flex;
    flex-direction: column;
    padding:auto;
    justify-content: center;
    align-items:center;

}

.headers{
    display:flex;
    font-size: 1.2rem;
    font-weight:400;
    text-align: center;
    align-self: center;
    margin:0 auto;
    justify-content: center;
    font-family: 'Raleway', sans-serif;

}
.viewStatements{
    display:flex;
    flex-direction: column;
    min-height: 70px;
    width:130px;
    color: #5ab947;
}

.statementsIcon{
    display:flex;
    flex-direction: column;
    min-height: 50px;
    width:110px;
    cursor: pointer;
    /* color: #5ab947; */
}